
body{width: 100%;height: 100vh;overflow: hidden;}

.clearfix:after{content: " "; display: block; height:0; clear:both; visibility: hidden;}

.clearfix { *zoom:1; }

*{margin: 0;padding: 0;box-sizing: border-box;font-family: "com";}

.hezi{width: 100%;height: 100vh;max-width: 1090px;height: 605px;background:#ecc5ac ;}

.hezi .ul1{position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 2;background:rgba(0, 0, 0, 0) ;}

.hezi .ul1 li{position: absolute;width: 38%;padding-top: 2.5%;top: 11%;left: 59%; }

.hezi .ul1 li span{display: block;width: 45%;height: 100%;position: absolute;top: 0;left: 0;z-index: 2;cursor: pointer;background:rgba(0, 0, 0, 0) ;}

.hezi .ul1 li span:nth-child(2){left: 53%;}

.hezi .ul1 li span:nth-child(3){left: 1%;top:90%}

.hezi .ul1 li .s{width: 5%;display: block;position: absolute;top: -140%;left: 45%;z-index: 2;opacity: 0;}

.hezi .ul1 li.act .s{opacity: 1;}


.hezi .ul1 li.li1 .s{top: -125%;}

.hezi .ul1 li.li2{top: 29%;}

/* .hezi .ul1 li.li2 span:nth-child(1){width: 17%;}

.hezi .ul1 li.li2 span:nth-child(2){width: 29%;left: 18.5%;}

.hezi .ul1 li.li2 span:nth-child(3){width: 25%;left: 50%;} */

.hezi .ul1 li.li2 .s{left: 51%;}

.hezi .ul1 li.li3{top: 48%;}

.hezi .ul1 li.li3 span:nth-child(1){width: 57%;}

.hezi .ul1 li.li3 span:nth-child(2){width: 44%;left: 57%;}

.hezi .ul1 li.li3 span:nth-child(3){width: 45%;left:1%;}

.hezi .ul1 li.li3 .s{left: 35%;}

.hezi .ul1 li.li4{top: 66%;left: 59%;}

.hezi .ul1 li.li4 span:nth-child(1){width: 45%;}

.hezi .ul1 li.li4 span:nth-child(2){width: 46%;left: 55%;}

.hezi .ul1 li.li4 span:nth-child(3){width: 54%;left:2%;}

.hezi .ul1 li.li4 .s{left: 36%;}

/* .hezi .ul1 li.li5{top: 74%;left: 50%;}

.hezi .ul1 li.li5 span:nth-child(1){width: 23%;}

.hezi .ul1 li.li5 span:nth-child(2){width: 17%;left: 25%;}

.hezi .ul1 li.li5 span:nth-child(3){width: 25%;left: 43%;}

.hezi .ul1 li.li5 .s{left: 58%;} */

.hezi .ul1 li.li6{top:84%;left: 59%;}

.hezi .ul1 li.li6 span:nth-child(1){width: 47%;}

.hezi .ul1 li.li6 span:nth-child(2){width: 42%;left: 56.5%;}

.hezi .ul1 li.li6 span:nth-child(3){width: 422%;left:1%;}

.hezi .ul1 li.li6 .s{left: 25%;}















