body {
    background: transparent;
}
.topic{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
ul{
    width: 100%;
    height: 100%;
}
ul li{
    width: 30%;
    height: 5.5%;    
    position: absolute;
    left: 18%;
    top: 38%;
    cursor: pointer;
}
ul li img{
    width: 2.82vw;
    height: 2.82vw;
}
.checkBox_b{
    width: 30%;
    left: 18%;
    top:51.5%;
}

.tijiao{
    transform: translateX(50%);
    right: 50%;
    top: 77.5%;
}

.gameBox_btn{
    position: absolute;
    top: 77.5%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 00, 0, 0);
    bottom: auto;
}