  body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    overflow: hidden;
    user-select: none;
  }



  img{display: block;width: 100%;pointer-events: none;}

  .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px;
    color: #eee;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0);
  }

  .instructions {
    position: absolute;
    bottom: 0%;
    left: 0;
    padding: 5px 15px;
    color: #eee;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0);
  }

  .label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px;
    color: #eee;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0);
  }

  canvas {
    position: relative;
    z-index: 2;
    display: block;
  }

  #dot1 {
    position: absolute;
    width: 11.6%;
    left: 2%;
    top: 30vw;
    padding-top: 11.6%;
    background:url(images/tu1.png) center no-repeat;
    z-index: 3;
    cursor: pointer;
    background-size: cover;
  }

  #dot2 {
    position: absolute;
    width: 11.6%;
    left: 14%;
    top: 30vw;
    padding-top: 11.6%;
    background:url(images/tu2.png) center no-repeat;
    z-index: 3;
    cursor: pointer;
    background-size: cover;
  }

  #dot3 {
    position: absolute;
    width: 11.6%;
    left: 26%;
    top: 30vw;
    padding-top: 11.6%;
    background:url(images/tu3.png) center no-repeat;
    z-index: 3;
    cursor: pointer;
    background-size: cover;
  }

  #dot4 {
    position: absolute;
    width: 11.6%;
    left: 38%;
    top: 30vw;
    padding-top: 11.6%;
    background:url(images/tu4.png) center no-repeat;
    z-index: 3;
    cursor: pointer;
    background-size: cover;
  }

  #dot5 {
    position: absolute;
    width: 11.6%;
    left: 50%;
    top: 30vw;
    padding-top: 11.6%;
    background:url(images/tu5.png) center no-repeat;
    z-index: 3;
    cursor: pointer;
    background-size: cover;
  }

  #dot6 {
    position: absolute;
    width: 11.6%;
    left: 62%;
    top: 30vw;
    padding-top: 11.6%;
    background:url(images/tu6.png) center no-repeat;
    z-index: 3;
    cursor: pointer;
    background-size: cover;
  }

  #dot7 {
    position: absolute;
    width: 11.6%;
    left: 74%;
    top: 30vw;
    padding-top: 11.6%;
    background:url(images/tu7.png) center no-repeat;
    z-index: 3;
    cursor: pointer;
    background-size: cover;
  }

  #dot8 {
    position: absolute;
    width: 11.6%;
    left: 86%;
    top: 30vw;
    padding-top: 11.6%;
    background:url(images/tu8.png) center no-repeat;
    z-index: 3;
    cursor: pointer;
    background-size: cover;
  }


  #dot9 {
    position: absolute;
    width: 11.6%;
    left: 2%;
    top: 45vw;
    padding-top:8%;
    background:url(images/tu1_1.png) center no-repeat;
    z-index: 3;
    cursor: pointer;
    background-size: cover;
  }

  #dot10 {
    position: absolute;
    width: 11.6%;
    left: 14%;
    top: 45vw;
    padding-top:8%;
    background:url(images/tu2_1.png) center no-repeat;
    z-index: 3;
    cursor: pointer;
    background-size: cover;
  }

  #dot11 {
    position: absolute;
    width: 11.6%;
    left: 26%;
    top: 45vw;
    padding-top:8%;
    background:url(images/tu3_1.png) center no-repeat;
    z-index: 3;
    cursor: pointer;
    background-size: cover;
  }

  #dot12 {
    position: absolute;
    width: 11.6%;
    left: 38%;
    top: 45vw;
    padding-top:8%;
    background:url(images/tu4_1.png) center no-repeat;
    z-index: 3;
    cursor: pointer;
    background-size: cover;
  }

  #dot13 {
    position: absolute;
    width: 11.6%;
    left: 50%;
    top: 45vw;
    padding-top:8%;
    background:url(images/tu5_1.png) center no-repeat;
    z-index: 3;
    cursor: pointer;
    background-size: cover;
  }

  #dot14 {
    position: absolute;
    width: 11.6%;
    left: 62%;
    top: 45vw;
    padding-top:8%;
    background:url(images/tu6_1.png) center no-repeat;
    z-index: 3;
    cursor: pointer;
    background-size: cover;
  }

  #dot15 {
    position: absolute;
    width: 11.6%;
    left: 74%;
    top: 45vw;
    padding-top:8%;
    background:url(images/tu7_1.png) center no-repeat;
    z-index: 3;
    cursor: pointer;
    background-size: cover;
  }

  #dot16 {
    position: absolute;
    width: 11.6%;
    left: 86%;
    top: 45vw;
    padding-top:8%;
    background:url(images/tu8_1.png) center no-repeat;
    z-index: 3;
    cursor: pointer;
    background-size: cover;
  }


 

  #img1 {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    color: #708090;
  }

  #img2 {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
  }

  #img3 {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
  }
  #img4 {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
  }

  #img5 {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
  }

  #img6 {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
  }

  #img7 {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
  }

  #img8 {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
  }

  #submit {
    position: absolute;
    bottom: 10%;
    left: 50%;
    z-index: 4;
  }
  #retry {
    position: absolute;
    bottom: 10%;
    left: 55%;
    z-index: 4;
  }

  #canvas {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    /* left: 20vw;
    top: 20vw; */
  }