body {
    background: transparent;
}
.topic{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
.tijiao{

    left: 8%;
    right: auto;
    top: 50%;
    bottom: auto;
   
}

.fuzhi{

    left: 28%;
    right: auto;
    top: 50%;
    bottom: auto;
   
}


.ipt1{
    position: absolute;
    top: 16.2%;
    left: 56%;
    width: 24%;
    height: 6%;
    border: none;
    font-size:24px;
    overflow: hidden;
    resize: none;
    z-index: 3;
    background: rgba(0, 0, 0, 0);
    color: #4fb0ff;
}

.copy{position: fixed;left: 0;bottom: 0;z-index: -1;opacity: 0;pointer-events: none;}

.cc{width: 26%;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);z-index: 5;max-width: 324px;display: none;}



@media (max-width:1200px) {

    .ipt1{font-size: 1.8vw;}
  
    .anniu{width: 18%;}
}
