body {
  background: transparent;
}

.bg{position: absolute;top: 0;left: 0;width: 100%;}

.lyl {
  width: 1280px;
}
.lyl .show {
  position: relative;
  max-width: 1280px;
  cursor: pointer;
  margin: auto;
  width: 100%;
}

.lyl .show .top .drop {
  position: absolute;
  width: 35%;
  max-width: 460px;
  z-index: 9;
  background: rgba(0, 0, 0, 0);
  left: 55%;
}
.lyl .show .top .drop:nth-child(1) {
  top: 27%;
}
.lyl .show .top .drop:nth-child(2) {
  top: 39.5%;
}
.lyl .show .top .drop:nth-child(3) {
  top: 52%;

}
.lyl .show .top .drop:nth-child(4) {
  top: 65%;
  width: 12.5%;
  left: 59%;
}

.lyl .show .top .drop:nth-child(5) {
  top: 65%;
  width: 12.5%;
  left: 74%;
}
.lyl .show .top .tip {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 130%;
  -webkit-transform: translate(50%, -80%);
  -moz-transform: translate(50%, -80%);
  -ms-transform: translate(50%, -80%);
  -o-transform: translate(50%, -80%);
  transform: translate(50%, -80%);
}
.lyl .show .top .err,
.lyl .show .top .right {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(65%, -65%);
  -moz-transform: translate(65%, -65%);
  -ms-transform: translate(65%, -65%);
  -o-transform: translate(65%, -65%);
  transform: translate(65%, -65%);
}
.lyl .show .bottom {
  position: relative;
}
.lyl .show .bottom a {
  position: absolute;
  width: 36%;
  height: 12%;
  background: rgba(0, 0, 0, 0);
  left: 11%;
}
.lyl .show .bottom a img {
  pointer-events: none;
}
.lyl .show .bottom a#box1 {
  top: 29.5%;
}
.lyl .show .bottom a#box2 {
  top: 43.5%;
}
.lyl .show .bottom a#box3 {
  top: 57.2%;
}
.lyl .show .bottom a#box4 {
  top: 70.5%;
}
.lyl .show .bottom a#box5 {
  top: 84%;
}


.anniu{right: 18%;}






