body {
    background: transparent;
}
.topic{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
.lyl{
    padding: 5% 0;
}
.show{
    position: relative;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
}
.drag ul li{
    position: absolute;
    width: 17.18%;
    left: 10%;
    cursor: pointer;
    top: 63%;
}

.drag ul li:nth-child(2){
    left: 30.5%;
}

.drag ul li:nth-child(3){
    left: 51.5%;
}


.drag ul li:nth-child(4){
    left: 73%;
}


.drag img{
    cursor: pointer;
}
.dashed .dashed_box{
    position: absolute;
    top: 35%;
    left: 7%;
    width: 20.5%;
    height: 20%;
    /* background: rgba(0, 0, 0, 0.5); */
}
.dashed .dashed_box:nth-child(2){
    left: 28.8%;
}
.dashed .dashed_box:nth-child(3){
    left: 50.8%;
}
.dashed .dashed_box:nth-child(4){
    left: 72.5%;
}
.gameBox_btn{
    width: 15.7%;
    height: 11%;
    font-size: 2.5vw;
    position: absolute;
}
.gameBox_reset{
    top: 64.5%;
    left: 79%;
}
.submit{
    top: 79%;
    left: 79%;
}


.chongzhi{z-index: 5;right: 50%;transform: translateX(50%);-webkit-transform: translateX(50%);}


