@import '../css/index.css';
/* 连连看列表盒子 */
#list-box {
  width: 80%;
  /* min-width: 540px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 12%;
  transform: translateX(-50%);
}
#list-box li {
  width: 10vw;
  height: 10vw;
  margin: 0.5vw;
  cursor: pointer;
}
#list-box li img {
  width: 100%;
  display: block;
  transition: all 0.5s;
}